.wrap{
    display: flex;
}

#leftbox{
    border: 5px dashed #abc;
    padding: 10px;
    margin: 5px;
    width: 225px;
    height: 225px;
}
#rightbox{
    border: 5px dashed #abc;
    padding: 10px;
    margin: 5px;
    width: 225px;
    height: 225px;
}